@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../app/fonts/poppins-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../app/fonts/poppins-latin-600-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../app/fonts/poppins-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../app/fonts/poppins-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("../app/fonts/inter-latin-wght-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../app/fonts/inter-latin-wght-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/* FlechaM */
@font-face {
  font-family: "FlechaM";
  src: url("../app/fonts/FlechaM-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}


@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

.dropdown-item {
  @apply pt-[5px] text-[12px] font-semibold text-[#1b1b1b] hover:text-[#3E37D4] duration-150;
}

.nav-links {
  @apply text-gray-700 leading-[16px] tracking-[-0.36px] hover:text-gray-900 px-[11px] py-2 rounded-md text-[12px] font-[600] flex flex-row items-center gap-1;
}

.card {
  @apply text-[#1b1b1f] p-[1.8rem] rounded-2xl border-2 border-[#1b1b1f];
}

.card__contents {
  @apply w-full min-[1280px]:w-[400px] [--card-padding:1.8rem] [--card-contents-border-width:2px] relative min-h-[290px]
}

.leoButton {
  @apply text-[#3e37d4] border-[1px] border-[#c1c4ff] hover:border-[#a1a2ff] text-[14px] font-poppins font-bold py-[11px] px-[20px] rounded-xl hover:shadow-ai
}

.card-h4 {
  @apply pb-2 text-[#1b1b1f] text-[30px] font-poppins font-semibold leading-[45px]
}

.text-blockquote {
  @apply text-[1.25rem] font-semibold leading-[1.8750rem] font-poppins tracking-[.025rem]
}

.card_quote {
  @apply text-[#fff] rounded-tr-2xl rounded-tl-2xl border-2 border-[#111114];
}

.card__contents_quote {
  @apply w-full relative
}

.card__contents_quote_right {
  @apply relative
}

.leoButtonCompare {
  @apply text-[#fff] bg-[#3e37d4] border-[1px] border-[#c1c4ff] hover:border-[#a1a2ff] hover:bg-[#3731B0] text-[14px] font-poppins font-bold py-[11px] px-[20px] rounded-xl hover:shadow-ai duration-300
}

.leoButtonCompareLarge {
  @apply text-[#fff] bg-[#3e37d4] border-[1px] border-[#3e37d4] hover:border-[#a1a2ff] hover:bg-[#3731B0] text-[14px] font-poppins font-bold py-[11px] px-[20px] rounded-xl hover:shadow-ai duration-300
}

.leoButtonBanner {
  @apply text-[#3e37d4] border-[1px] border-[#c1c4ff] hover:border-[#a1a2ff] text-[12px] font-poppins font-bold py-[8px] px-[12px] rounded-lg hover:shadow-ai
}

.card_faq {
  @apply text-[#1b1b1f] px-[32px] py-[24px] border-t-2 border-x-2 border-[#1b1b1f];
}

.card__contents_faq {
  @apply w-full px-[32px] [--card-contents-border-width:2px] relative
}

.container {
  @apply w-full mx-auto max-w-[375px] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[850px] xl:max-w-[980px] 2xl:max-w-[1080px]
}

.hero {
  @apply pt-[calc(120px+2rem)] pb-[min(50%,_710px)]
}

.section{
  @apply px-6 py-12 sm:py-24
}

.chart {
  @apply mx-auto overflow-hidden max-w-none bg-white shadow-lg rounded-2xl;
}

.chart__row_event {
  @apply flex md:flex-nowrap flex-wrap items-center justify-between px-10 py-6 bg-[#F3F5F8]; 
}
.chart__row_odd {
  @apply flex md:flex-nowrap flex-wrap items-center justify-between px-10 py-6 bg-white; 
}
.chart__header{
  @apply md:text-[1.375rem] md:leading-[2] 
}

.chart__heading_title{
  @apply text-[18px] font-bold font-poppins md:w-auto w-full text-left 
}
.chart__heading{
  @apply text-[18px] font-bold font-poppins md:w-auto w-full text-left text-[#212529]
}

.chart__cell-group {
  @apply flex flex-shrink-0 justify-between w-full md:max-w-[60%];
}

.chart__cell {
  @apply flex flex-col items-center justify-center w-1/3 text-[#212529]
}
.chart__cell_span {
  @apply text-[1.125rem] leading-[36px] font-poppins font-extrabold text-[#212529]
}

.chart__icon{
  @apply w-9 h-9
}






.gradient--purple-fuchsia {
  background-image: linear-gradient(122.53deg, #4C54D2 0%, #BF14A2 56.25%, #F73A1C 100%);
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-peachy: radial-gradient(at 2% 78%, #b8b7e1 0px, transparent 50%),
    radial-gradient(at 50% 7%, #f4c071 0px, transparent 50%),
    radial-gradient(at 89% 10%, #ff8a66 0px, transparent 50%),
    radial-gradient(at 77% 85%, #413ee5 0px, transparent 50%),
    radial-gradient(at 0% 100%, #9999ff 0px, transparent 50%),
    radial-gradient(at 0% 0%, #f4f4f6 0px, transparent 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}